# This was inserted by `prisma init`:

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=your_value_here
ACCESS_KEY=your_value_here
NODE_ENV=your_value_here
TELEGRAM_BOT_TOKEN=your_value_here
# TELEGRAM_USER_ID=your_value_here
TELEGRAM_USER_ID=your_value_here

# FIREBASE BUCKET NAME IS name of ur bucket from firebase where u created it for storage

# gs://testprojectfortommy.appspot.com this is for my example, so the value set is testprojectfortommy

FIREBASE_BUCKET_NAME=your_value_here
FIREBASE_type=your_value_here
FIREBASE_project_id=your_value_here
FIREBASE_private_key_id=your_value_here
FIREBASE_private_key=your_value_here
FIREBASE_client_email=your_value_here
FIREBASE_client_id=your_value_here
FIREBASE_auth_uri=your_value_here
FIREBASE_token_uri=your_value_here
FIREBASE_auth_provider_x509_cert_url=your_value_here
FIREBASE_client_x509_cert_url=your_value_here
